{% extends 'base.html.twig' %}


{% block body %}

<h1 class="text-center">Changer mon mot de passe</h1>
<hr>

{{form_start(form, {attr: {class: "user-form"}})}}

    {{form_row(form.oldPassword)}}
    
    {{form_row(form.newPassword)}}
    

    <input class="btn btn-success" type="submit" value="Je change mon mot de passe">
{{form_end(form)}}

{% endblock %}
