{% extends 'base.html.twig' %}


{% block body %}

<h1>Changer mon mot de passe</h1>
<hr>
{{form_start(form, {attr: {class: "user-form"}})}}

    <div class="form-group">
        {{form_row(form.oldPassword)}}
    </div>
    

    <div class="form-group">
        {{form_row(form.newPassword)}}
    </div>
    

    <input class="btn btn-success" type="submit" value="Je change mon mot de passe">
{{form_end(form)}}

{% endblock %}
