{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-center display-3 my-5">
    Mentions Légales
</h1>

<h2 class="text-center font-weight-light">
    Traitement des <strong>données</strong>
</h2>

<hr class="blue-separator">

<p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fugit cumque minima quidem voluptatem rem consequuntur ex repellat ratione mollitia! Iste quod commodi laudantium neque, iure ut hic aut et laboriosam libero fugit quae debitis sequi eveniet nihil sit magnam! Aut quaerat assumenda provident, eaque voluptas cum distinctio harum esse facilis suscipit, sapiente aperiam non ab voluptatibus dolore culpa, laborum fuga veniam quo eius odio? Repellat maxime veritatis cumque illum natus a autem dicta tempora culpa quas tenetur hic tempore quidem exercitationem quos, incidunt, illo rerum molestias itaque odio porro iste. Quidem porro libero veritatis quasi sapiente dignissimos laboriosam nobis voluptates fuga optio minima unde iusto tenetur eaque dicta eveniet mollitia voluptatem quos sunt, quia, quo dolorem corrupti? Sint id quia, blanditiis, esse vitae impedit quidem eligendi officiis alias nesciunt quaerat. Ducimus odio est rem debitis, beatae laudantium alias autem doloremque similique recusandae iste. Dolores!
</p>

<h2 class="text-center font-weight-light">
    <strong>Utilisation</strong> des cookies
</h2>

<hr class="blue-separator">

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fugit cumque minima quidem voluptatem rem consequuntur ex repellat ratione mollitia! Iste quod commodi laudantium neque, iure ut hic aut et laboriosam libero fugit quae debitis sequi eveniet nihil sit magnam! Aut quaerat assumenda provident, eaque voluptas cum distinctio harum esse facilis suscipit, sapiente aperiam non ab voluptatibus dolore culpa, laborum fuga veniam quo eius odio? Repellat maxime veritatis cumque illum natus a autem dicta tempora culpa quas tenetur hic tempore quidem exercitationem quos, incidunt, illo rerum molestias itaque odio porro iste. Quidem porro libero veritatis quasi sapiente dignissimos laboriosam nobis voluptates fuga optio minima unde iusto tenetur eaque dicta eveniet mollitia voluptatem quos sunt, quia, quo dolorem corrupti? Sint id quia, blanditiis, esse vitae impedit quidem eligendi officiis alias nesciunt quaerat. Ducimus odio est rem debitis, beatae laudantium alias autem doloremque similique recusandae iste. Dolores!
</p>

{% endblock %}