.navbar{
    min-height: 90px;
}

.card{
    margin: 5px auto;
}

.user-form{
    max-width: 300px;
    margin: auto;
}

#embed{
    display: none;
}

#comment-form {
    z-index: 1;
    background-color: black;
    border: 1px solid black;
}