.navbar{
    min-height: 90px;
}

.card{
    margin: 5px auto;
}

.user-form{
    max-width: 300px;
    margin: auto;
}

#embed{
    display: none;
}

#comment-form-holder{
    position: fixed;
    top: 50vh;
    width: max-content;
    z-index: 10;
}
