.navbar{
    min-height: 90px;
}

.card{
    margin: 5px auto;
}

.user-form{
    max-width: 300px;
    margin: auto;
}

.hide{
    display: none;
}

.table-bordered, .table-bordered td, .table-bordered th{
    border: 2px solid black;
}

.table thead th{
    border-bottom: none;
}

.bg-grey{
    background-color: #bdbfc1;
}

.margin-top-30{
    margin-top: 30px;
}

.bg-answer{
    background-color: #17a2b89c;
}

.margin-left{
    margin-left: 10px;
}

.blockquote{
    font-size: initial;
}

.gold {
    background-color:rgba(166, 124, 0, 0.62);
}

.d-flex{
    justify-content: center;
}