
<h1 class="text-center">Ajouter du contenu</h1>
<hr>

{{form_start(form, {attr: {id: "content_form"}})}}

    {{form_row(form.url)}}

<input type="submit" class="btn btn-success" onclick="submitContent(event)" value="OK">
{{form_end(form)}}
