{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center">
    Espace admin
</h1>
<hr>

<p>
    Qu'allons nous faire ?
</p>
<ul>
    <li>
        <a class="btn btn-primary btn-lg" href="{{path("platforms_list")}}">Voir les plateformes</a>
    </li>
</ul>

{% endblock %}
