

<h1 class="text-center">
    Page temporaire de commentaire
</h1>

<hr>

{{form_start(form, {attr: {id: "comment_form"}})}}
    {{form_row(form.text)}}
    <input class="btn btn-success" onclick="submitComment()" type="submit" value="Commenté">
{{form_end(form)}}
