{% extends "base.html.twig" %}

{% block body %}
{% if edit %}
<h1 class="text-center">
    Modification du titre de la playliste {{playlist.title}}
</h1>
{% else %}
<h1 class="text-center">
    Création d'une playliste
</h1>
{% endif %}
<hr>

{{form_start(form, {attr: {class: "user-form"}})}}
    {{form_row(form.title)}}

    {% if edit %}
        <input class="btn btn-success" type="submit" value="Modifier">
    {% else %}
        <input class="btn btn-success" type="submit" value="Ajouter">
    {% endif %}
{{form_end(form)}}

{% endblock %}