{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-2">La page demandé n'a pas pu être affiché.</h1>

<hr>
    <p class="text-center">
        La page demandé n'a pas pu être affiché. <br>
        Veuillez rééssayer en cliquant <a  href="#" onclick="window.location.reload()">ici</a> ou <a href="{{ path('playlists') }}">Retour a l'accueil</a>.
    </p>
{% endblock %}