{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-2">ACCES INTERDIT</h1>

<hr>
    <p class="text-center">
        Vous n'ëte pas autorisé à afficher cette page.
        <a href="{{ path('playlists') }}">Retour a l'accueil</a>.
    </p>
{% endblock %}