{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">La page demandé n'existe pas</h1>
    <h2>
    page a finir
    </h2>
<hr>
    <p class="text-center">
        La page demandée n'a pas pu être localisée.
        <a href="{{ path('playlists') }}">Retout a l'accueil</a>.
    </p>
{% endblock %}