{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center display-2">Oops!</h1>

<hr>
    <p class="text-center">
        Vous n'êtes pas autorisé à afficher cette page.
        <a href="{{ path('playlists') }}">Retour à l'accueil</a>.
    </p>
{% endblock %}